h1 Register:
<br>
input(type="text" placeholder= "Enter a username")#newUsername
<br>
input(type="text" placeholder= "Enter a password")#newPassword
<br>
button(type= "submit")#addNewUser Register


script(src="client.js")